<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        a {
            padding: 5px;
            color: blanchedalmond;
            text-decoration: none;
        }

        header {
            padding: 10px 10%;
            background-color: #24252a;
        }

        .logo {
            text-decoration: none;
            color: white;
            font-family: sans-serif;
            font-family: 'Paytone One', sans-serif;
            letter-spacing: 1.4px;

        }

        .logo {
            margin-right: auto;
        }

        .nav__links {
            list-style: none;
            display: flex;
        }


        .nav__links li {
            padding: 0px 20px;
            position: relative;
            top: 6px;
        }

        .nav__links li a {
            transition: all 0.3s ease 0s;

        }

        .nav__links li a:hover {
            color: #0088a9;
        }

        /* Mobile Nav */



        footer {
            font-weight: 400;
            color: #a4a4a4;
            margin-top: 100px;
            text-align: center;
            padding: 1% 10%;
        }


        /* Homepage */

        #homepage {
            padding: 0 10%;
            margin-top: 100px;
            font-family: 'Montserrat';
        }

        #homepage .desc a {
            text-align: center;
            margin: auto;
            display: inline-block;
        }

        #homepage img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            border-radius: 225px;
            box-shadow: 10px 10px 50px 2px rgba(10, 10, 10, 0.25)
        }

        #homepage h1 {
            font-weight: 900;
        }

        #homepage .desc {
            position: relative;
            top: 100px;
            text-align: left;
        }

        div {
            margin: 10px;
        }

        /* Homepage */
    </style>
</head>

<body>
    <section id="nav-bar">
        <header>
            <div>
                <a class="logo" href="/">
                    <h1>{{pageTitle}}</h1>
                </a>
            </div>
            <nav>
                <ul class="nav__links">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/project">Projects</a>
                </ul>
            </nav>
        </header>
    </section>