<!DOCTYPE html>
<html lang="en">


{{> header}}
<section id="homepage">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 intro">
                <div class="desc">
                    <h1>👋{{screamit welcomeMessage}}</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste mollitia, ipsa rerum accusamus
                        sapiente dolorum aliquid quaerat aliquam ipsam consectetur soluta eveniet doloribus maxime nisi
                        vero similique laborum assumenda consequuntur.</p>
                </div>
            </div>
        </div>
    </div>

</section>

{{> footer}}
</body>

</html>